/*GLOBAL STYLES*/

html, body {
    
    height:100%;
}

body {
    margin:0px;
    padding:0px;
    background-color:#FFFFFF;
    font-family:'Trebuchet MS', Verdana, sans-serif;
    font-size:16px;
    font-weight:500;
    color:#00000;
}

h1, h2, h3 {
    margin:0px;
    padding:0px;
    color:#FFFFFF;
}

h1 {
    font-size:6em;
}

p{
    color:#6495ed;
    margin:15px 0px;
    line-height:18px;
}

a{
    color:#FF7900;
    text-decoration:none;
}

a:hover {
    color:#AEAEAE;
    
}
/* =============Header styles============= */


header {
    position:absolute;
    height:200px;
    background-color:#F4F4F4;
    
}

#logo{
    color:#AEAEAE;
}

#logo:hover {
    color:#FF7900;
}

/* ===============Banner Styles ===============*/

#banner {
    overflow:hidden;
    padding:175px 0px;
    border-top:6px solid #FF7900;
    background-color:#AEAEAE;
    background-image:url(images/banner-home.jpg) no-repeat center center #FF7900;
}